

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family='Montserrat'+Alternates:ital,wght@0,400;0,700;1,400;1,700&family='Montserrat':ital,wght@0,400;0,800;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: "Montserrat";
  src: url('Montserrat-VariableFont_wght.ttf');
  font-weight: 300 800;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EDF2F4;
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
}

#us-map{
  display: block;
/*   position: absolute; */
  margin-top: 2em;
  margin-bottom: 2em;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  align-items: center;
}

.map {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100vw;
}

path:hover, circle:hover {
  stroke: #FF7033 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #ffffff !important;
  cursor: pointer;
  opacity: 100% !important;
}

path, circle {
  fill: #FF7033;
}

#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800 !important;
/*    font-style: normal;*/

  font-size: 6em !important;
/*   -webkit-text-stroke: 1.5px #000000; */
    color: #FFFFFF;
    text-shadow: 8px 8px 0px #000000;
}

.navbar {
    background-color: #0DC3BD !important;
    border-bottom: 2px solid black;
}

button {
  align-items: center;
  text-align: center;
}

.justify-content-center {
  align-items: center;
  
}

.opener {
  align-items: center;
  text-align: center;
  margin-top: 2em;
}

.mission {
    background-color: #FFB0AD;
    padding: 3rem;
    text-align: center;
    border-bottom: 2px solid black !important;
    align-items: center;
}

.mission h2 {
/*     -webkit-text-stroke: 1.5px #000000; */
      color: #FFFFFF;
      font-size: 3em;
      text-shadow: 4px 4px 0px #000000;
}

.mission .card {
    margin: 0em 2em 0em 2em;
/*    width: 10em !important;*/

}

#mc_embed_signup_scroll {
  display: block;
  align-items: center;
  margin: auto;
}

.asterisk {
  color: #FFB0AD;
}


h2 {
    font-family: 'Montserrat', sans-serif !important;
  font-weight: 800 !important;
  font-size: 2em;
}

h3 {
    font-family: 'Montserrat', sans-serif !important;
  margin-bottom: 2em;
  font-size: 2em;
  font-weight: 800 !important;
}

h4 { 
    font-family: 'Montserrat' !important;
  margin-bottom: 2em;
  font-weight: 800 !important;
  
}

#reps {
/*   display: flex; */
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
/*  background-color: #73e2a7;*/
background-color: #FF7033;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
}



.jumbotron {
    
  color: white;
/*  color: black;*/
   background-color: #FFB0AD;
  margin-bottom: 0px;
  
  border-bottom: 2px solid black;
  border-top: 2em;
  
  
}

.jumbo-other {
    
}

.jumbo-home {
    height: 40rem;
    background-image: url(jumbobg.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto !important;
    text-align: center;
}

.contact {
/*   -webkit-text-stroke: 2px black; */
/*  color: #1C7C54;*/
color: white;
/*margin-bottom: 1em !important;*/
}

button {
  background-color: #ACD2ED;
}

#letter {
    color: black !important;
    border-radius: 25px;
    border-color: black;
    border: 1px;
}

.card-header {
    font-family: 'Montserrat' !important;
}


.card {
  background-color: #564D4A;
  color: white !important;
  text-align: left;
}

.card-subtitle {
    color: white !important;
}

.card .btn {
    background-color: white;
    color:#564D4A !important;
}

.card a {
    color: white !important;
}

#letter {
  white-space: pre-line;
  text-align: left;
}

.letter-card {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.card-header {
    font-family: 'Montserrat' !important;
  font-weight: 800 !important;
}

.note {
  font-size: 1.5em;
  font-family: 'Montserrat' !important;
  color: white;
}

.btn-petition {
  margin: 0em !important;
}

.card li {
    color: white;
}

.btn-primary {
    background-color: #2B2D42;
    margin: 1em;
}

.btn-share {
    border: 2px solid black !important;
    color: black !important;
}

.form-row {
    margin: 0px;
}

.history {
    background: #d7fefe !important;
    padding: 3em;
    border-bottom: 2px solid black;
}

.history h2 {
/*    color: white;*/
}

.second-jumbo {
    border-bottom: 2px solid black !important;
}

.list-group-flush li {
    background: inherit;
    font-family: 'Montserrat' !important;
}

.list-group-flush li p {
    background: inherit;
    font-family: 'Nunito';
}

.list-group-flush a {
   color: white !important;
}

