@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  
}

#us-map{
  display: block;
/*   position: absolute; */
  margin-top: 2em;
  margin-bottom: 2em;
  top: 0;
  left: 0;
  width: 60%;
  height: 60%;
  align-items: center;
}

.map {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

path:hover, circle:hover {
  stroke: #B21918 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #ffffff !important;
  cursor: pointer;
  opacity: 100% !important;
}

path, circle {
  fill: #B21918;
}

#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

h1 {
  font-family: 'Krona One', sans-serif;
  font-size: 4em;
  -webkit-text-stroke: 2px white;
  color: #EF959D;
}

.navbar {
  background-color: #EF959D !important;
}

button {
  align-items: center;
  text-align: center;
}

.justify-content-center {
  align-items: center;
  
}

.opener {
  align-items: center;
  text-align: center;
  margin-top: 2em;
}

h2 {
   font-family: 'Krona One', sans-serif;
  font-size: 2em;
}

h3 {
    font-family: 'Krona One', sans-serif;
  margin-bottom: 2em;
  font-size: 2em;
}

h4 { 
  font-family: 'Krona One', sans-serif;
  margin-bottom: 2em;
}

#reps {
/*   display: flex; */
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #73e2a7;
  padding-top: 2em;
  padding-bottom: 2em;
}

.jumbotron {
  background-color: #D62246;
  color: white;
}

.contact {
  -webkit-text-stroke: 2px black;
  color: #1C7C54;
}

button {
  background-color: #ACD2ED;
}

.card {
  background-color: #ACD2ED;
}

#letter {
  white-space: pre-line;
}

.letter-card {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.card-header {
  font-family: 'Krona One', sans-serif;
}

.note {
  font-size: 1.5em;
  font-family: 'Krona One', sans-serif;
}

.btn {
  margin: 1em;
}